<h1>Celebrities</h1>

   <a href="/celebrities/create">Create new celebrity</a>

    {{#each celebrities}}
    <h3>{{name}}</h3>
    <ul>
         <li>Occupation: {{ occupation }} </li>
         <li> Catch phrase: {{ catchPhrase }}</li>

    </ul>
    <a href="celebrities/delete/{{_id}}">Delete</a>
    {{/each}}

  